.breadcrumb {
    font-size: 12px;
    margin-top: 14px;
}

.info-search {
    margin: 5px 0px 15px 0px;
    border: 1px solid black;
    padding: 10px;
    ul {
        display: inline-block;
        padding: 0px;
        margin: 8px 0px 3px 0px;
        li {
            display: inline-block;
            list-style-type: none;
            margin: 0px 12px 0px 12px;
            cursor: pointer;
        }
    }
}

.whiteframe {
    -webkit-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
    box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
    background-color: white;
}

.map-location {
    margin-top: 30px;
    div {
        height: 27px;
        color: #3c88ea;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
    }
}

.sort-container {
    height: 30px;
    text-align: right;
    @media only screen and (max-width: $md-width) {
        margin-top: 30px;
    }
}

.price-info-slider {
    height: 30px;
    font-weight: bold;
    position: relative;
}

.price-info-slider {
    div {
        &:first-child {
            position: absolute;
            left: 5px;
            top: -10px;
        }
        &:last-child {
            position: absolute;
            right: 5px;
            top: -10px;
        }
    }
}

.option-menu {
    height: 35px;
    border-bottom: 1px solid gray;
    margin: 14px;
    width: calc(100% - 28px);
    color: $link-color;
    cursor: pointer;
    text-align: center;
}

.search-input {
    width: calc(100% - 77px);
    max-width: 250px;
}

.no-results {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.left-panel {
    @media only screen and (min-width: $md-width + 1) {
        padding-right: 5px;
    }
}

.right-panel {
    @media only screen and (min-width: $md-width + 1) {
        padding-left: 5px;
    }
}
