.main-menu {
    height: 70px;
    background: $bg-menu;
    @media only screen and (max-width: $md-width) {
        height: 50px;
    }
    img {
        width: 210px;
        margin-top: 12px;
        @media only screen and (max-width: $md-width) {
            width: 130px;
            margin-top: 12px;
        }
    }
    ul {
        color: white;
        display: inline-block;
        position: absolute;
        right: 0px;
        margin-top: 22px;
        @media only screen and (max-width: $md-width) {
            margin-top: 11px;
            margin-right: 18px;
            font-size: 20px;
        }
        li {
            display: inline-block;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            line-height: 12px;
            padding-right: 7px;
            padding-left: 7px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
            &:not(:last-child) {
                border-right: 1px solid;
                @media only screen and (max-width: $md-width) {
                    border-right: none;
                }
            }
        }
    }
}

.sub-menu {
    height: 30px;
    background: $bg-sub-menu;
    border-top: 2px solid #4e6eb3;
    border-bottom: 2px solid #4e6eb3;
    text-align: center;
    ul {
        color: white;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        height: 100%;
        li {
            @include bg-transition(0.3s, linear);
            display: inline-block;
            list-style-type: none;
            padding: 3px 12px 0px 12px;
            cursor: pointer;
            height: 100%;
            &:hover {
                background-color: #002C77;
            }
            a {
                color: white;
            }
        }
    }
}
