body {
    background-color: $bg-body;
}

a:link {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    position: relative;
    width: 100%;
}

.btn-primary {
    background-color: $button-color;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    padding: 5px 8px 5px 8px;
    &:hover {
        background-color: $button-color-hover;
    }
}
