$sm-width: 767px;
$md-width: 991px;
$lg-width: 1199px;
$bg-menu: #002C77;
$bg-sub-menu: #1f4aa7;
$bg-body: #F4F4F4;
$link-color: #3c88ea;
$button-color: #002C77;
$button-color-hover: #2755a5;

@mixin bg-transition($time, $type) {
    -webkit-transition: background-color $time $type;
    -moz-transition: background-color $time $type;
    -o-transition: background-color $time $type;
    -ms-transition: background-color $time $type;
    transition: background-color $time $type;
}