am-collapsible {
    .whiteframe {
        -webkit-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
        -moz-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
        box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
        background-color: white;
    }
    .header {
        position: relative;
        color: #157ab1;
        position: relative;
        padding: 8px;
        cursor: pointer;
        .collapsible-button {
            position: absolute;
            top: 7px;
            right: 0px;
            width: 20px;
            height: 25px;
        }
        &:hover{
            color: #379ed6;
        }
    }
    .content {
        padding: 8px;
    }
}
