am-hotel-frame {
    .whiteframe {
        margin-bottom: 15px;
        padding: 5px;
        .vertical-separator {
            height: 2px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-top: 1px dashed #c3c3c3;
        }
        .slider-column {
            .slick-container {
                position: relative;
                width: 240px;
                @media only screen and (max-width: $md-width) {
                    margin-left: calc(50% - 125px);
                    margin-bottom: 5px;
                }
                .hotel-recommended {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    text-align: center;
                    background-color: #2671DD;
                    z-index: 10;
                    color: white;
                    width: 240px;
                    padding: 5px;
                    font-size: 12px;
                    font-weight: bold;
                }
                .hotel-disccount {
                    position: absolute;
                    top: -6px;
                    left: 17px;
                    width: 37px;
                    height: 44px;
                    background-color: #509E3C;
                    z-index: 11;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    padding: 2px;
                    &:after {
                        content: "";
                        position: absolute;
                        border-width: 4px;
                        border-color: transparent transparent #2D5C23 #2D5C23;
                        border-style: solid;
                        top: 0;
                        right: -8px;
                    }
                }
                .slick-frame-container{
                    max-height: 160px;
                    overflow: hidden;
                }
            }
        }
        .info-column {
            @media only screen and (max-width: $md-width) {
                text-align: center;
            }
            div {
                height: 22px;
            }
            .title {
                font-weight: bold;
            }
            .stars {
                color: #FDBA12;
                font-size: 16px;
                i {
                    margin-right: 3px;
                }
            }
            .only-bed {
                color: #DF6800;
                font-weight: bold;
            }
            .services {
                i {
                    margin-right: 8px;
                    font-size: 18px;
                }
            }
        }
        .price-column {
            border-left: 1px dashed #c3c3c3;
            text-align: center;
            @media only screen and (max-width: $md-width) {
                text-align: center;
                border-left: none;
            }
            .price-note {
                font-size: 12px;
                @media only screen and (max-width: $md-width) {
                    margin-top: 5px;
                }
            }
            .price {
                color: #DF6800;
                font-size: 18px;
                margin: 8px;
                height: 27px;
                text-align: center;
                .number {
                    vertical-align: top;
                }
                .number {
                    font-size: 30px;
                    line-height: 21px;
                    font-weight: bold;
                }
            }
            .show-hotel {
                button {
                    color: white;
                    background-color: $button-color;
                    font-weight: bold;
                    margin: 6px;
                    border: none;
                    border-radius: 4px;
                    padding: 8px 55px 8px 55px;
                    font-size: 18px;
                    &:hover {
                        background-color: $button-color-hover;
                    }
                }
            }
            .pay-option {
                font-weight: bold;
            }
        }
    }
}
