am-pagination {
    .pagination-container {
        text-align: center;
        button {
            background-color: white;
            border: none;
            height: 40px;
            width: 40px;
            -webkit-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
            -moz-box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
            box-shadow: 1px 1px 3px 0px rgba(186, 186, 186, 1);
            &.current-button {
                color: #2566d6;
                font-weight: bold;
                background-color: #ececec;
            }
            &:focus {
                outline: 0!important;
            }
            &:hover:not(:disabled) {
                background-color: #f4f4f4;
            }
            &:disabled {
                color: #dcdcdc;
            }
        }
    }
}
