.angular-range-slider {
    div {
        &.handle {
            width: 13px!important;
            height: 30px!important;
            top: -10px!important;
            background-color: #ffffff!important;
            border: 1px solid #000!important;
            border-radius: 35%!important;
        }
        &.bar {
            .selection {
                background: #989898!important;
            }
        }
    }
}