slick {
    width: 240px!important;
    height: 160px!important;
    margin: 0px!important;
    padding: 0px!important;
    .slick-slide {
        img {
            display: block;
            width: 240px;
        }
    }
    .slick-prev {
        left: 10px!important;
    }
    .slick-next {
        right: 10px!important;
    }
}
