am-stars-filter {
    input {
        margin-right: 5px;
    }
    .all-stars-row {
        height: 30px;
        font-weight: bold;
    }
    .star-row {
        height: 30px;
        i {
            color: #FDBA12;
            margin-right: 5px;
        }
    }
}
