body {
  background-color: #F4F4F4; }

a:link {
  text-decoration: none; }

.container {
  max-width: 1200px;
  position: relative;
  width: 100%; }

.btn-primary {
  background-color: #002C77;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px 8px 5px 8px; }
  .btn-primary:hover {
    background-color: #2755a5; }

.main-menu {
  height: 70px;
  background: #002C77; }
  @media only screen and (max-width: 991px) {
    .main-menu {
      height: 50px; } }
  .main-menu img {
    width: 210px;
    margin-top: 12px; }
    @media only screen and (max-width: 991px) {
      .main-menu img {
        width: 130px;
        margin-top: 12px; } }
  .main-menu ul {
    color: white;
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-top: 22px; }
    @media only screen and (max-width: 991px) {
      .main-menu ul {
        margin-top: 11px;
        margin-right: 18px;
        font-size: 20px; } }
    .main-menu ul li {
      display: inline-block;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      line-height: 12px;
      padding-right: 7px;
      padding-left: 7px;
      cursor: pointer; }
      .main-menu ul li:hover {
        opacity: 0.7; }
      .main-menu ul li:not(:last-child) {
        border-right: 1px solid; }
        @media only screen and (max-width: 991px) {
          .main-menu ul li:not(:last-child) {
            border-right: none; } }

.sub-menu {
  height: 30px;
  background: #1f4aa7;
  border-top: 2px solid #4e6eb3;
  border-bottom: 2px solid #4e6eb3;
  text-align: center; }
  .sub-menu ul {
    color: white;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    height: 100%; }
    .sub-menu ul li {
      -webkit-transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
      -ms-transition: background-color 0.3s linear;
      transition: background-color 0.3s linear;
      display: inline-block;
      list-style-type: none;
      padding: 3px 12px 0px 12px;
      cursor: pointer;
      height: 100%; }
      .sub-menu ul li:hover {
        background-color: #002C77; }
      .sub-menu ul li a {
        color: white; }

.breadcrumb {
  font-size: 12px;
  margin-top: 14px; }

.info-search {
  margin: 5px 0px 15px 0px;
  border: 1px solid black;
  padding: 10px; }
  .info-search ul {
    display: inline-block;
    padding: 0px;
    margin: 8px 0px 3px 0px; }
    .info-search ul li {
      display: inline-block;
      list-style-type: none;
      margin: 0px 12px 0px 12px;
      cursor: pointer; }

.whiteframe {
  -webkit-box-shadow: 1px 1px 3px 0px #bababa;
  -moz-box-shadow: 1px 1px 3px 0px #bababa;
  box-shadow: 1px 1px 3px 0px #bababa;
  background-color: white; }

.map-location {
  margin-top: 30px; }
  .map-location div {
    height: 27px;
    color: #3c88ea;
    text-align: center;
    line-height: 25px;
    cursor: pointer; }

.sort-container {
  height: 30px;
  text-align: right; }
  @media only screen and (max-width: 991px) {
    .sort-container {
      margin-top: 30px; } }

.price-info-slider {
  height: 30px;
  font-weight: bold;
  position: relative; }

.price-info-slider div:first-child {
  position: absolute;
  left: 5px;
  top: -10px; }

.price-info-slider div:last-child {
  position: absolute;
  right: 5px;
  top: -10px; }

.option-menu {
  height: 35px;
  border-bottom: 1px solid gray;
  margin: 14px;
  width: calc(100% - 28px);
  color: #3c88ea;
  cursor: pointer;
  text-align: center; }

.search-input {
  width: calc(100% - 77px);
  max-width: 250px; }

.no-results {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px; }

@media only screen and (min-width: 992px) {
  .left-panel {
    padding-right: 5px; } }

@media only screen and (min-width: 992px) {
  .right-panel {
    padding-left: 5px; } }

am-collapsible .whiteframe {
  -webkit-box-shadow: 1px 1px 3px 0px #bababa;
  -moz-box-shadow: 1px 1px 3px 0px #bababa;
  box-shadow: 1px 1px 3px 0px #bababa;
  background-color: white; }

am-collapsible .header {
  position: relative;
  color: #157ab1;
  position: relative;
  padding: 8px;
  cursor: pointer; }
  am-collapsible .header .collapsible-button {
    position: absolute;
    top: 7px;
    right: 0px;
    width: 20px;
    height: 25px; }
  am-collapsible .header:hover {
    color: #379ed6; }

am-collapsible .content {
  padding: 8px; }

am-hotel-frame .whiteframe {
  margin-bottom: 15px;
  padding: 5px; }
  am-hotel-frame .whiteframe .vertical-separator {
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px dashed #c3c3c3; }
  am-hotel-frame .whiteframe .slider-column .slick-container {
    position: relative;
    width: 240px; }
    @media only screen and (max-width: 991px) {
      am-hotel-frame .whiteframe .slider-column .slick-container {
        margin-left: calc(50% - 125px);
        margin-bottom: 5px; } }
    am-hotel-frame .whiteframe .slider-column .slick-container .hotel-recommended {
      position: absolute;
      top: 0px;
      left: 0px;
      text-align: center;
      background-color: #2671DD;
      z-index: 10;
      color: white;
      width: 240px;
      padding: 5px;
      font-size: 12px;
      font-weight: bold; }
    am-hotel-frame .whiteframe .slider-column .slick-container .hotel-disccount {
      position: absolute;
      top: -6px;
      left: 17px;
      width: 37px;
      height: 44px;
      background-color: #509E3C;
      z-index: 11;
      color: white;
      text-align: center;
      font-weight: bold;
      padding: 2px; }
      am-hotel-frame .whiteframe .slider-column .slick-container .hotel-disccount:after {
        content: "";
        position: absolute;
        border-width: 4px;
        border-color: transparent transparent #2D5C23 #2D5C23;
        border-style: solid;
        top: 0;
        right: -8px; }
    am-hotel-frame .whiteframe .slider-column .slick-container .slick-frame-container {
      max-height: 160px;
      overflow: hidden; }
  @media only screen and (max-width: 991px) {
    am-hotel-frame .whiteframe .info-column {
      text-align: center; } }
  am-hotel-frame .whiteframe .info-column div {
    height: 22px; }
  am-hotel-frame .whiteframe .info-column .title {
    font-weight: bold; }
  am-hotel-frame .whiteframe .info-column .stars {
    color: #FDBA12;
    font-size: 16px; }
    am-hotel-frame .whiteframe .info-column .stars i {
      margin-right: 3px; }
  am-hotel-frame .whiteframe .info-column .only-bed {
    color: #DF6800;
    font-weight: bold; }
  am-hotel-frame .whiteframe .info-column .services i {
    margin-right: 8px;
    font-size: 18px; }
  am-hotel-frame .whiteframe .price-column {
    border-left: 1px dashed #c3c3c3;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      am-hotel-frame .whiteframe .price-column {
        text-align: center;
        border-left: none; } }
    am-hotel-frame .whiteframe .price-column .price-note {
      font-size: 12px; }
      @media only screen and (max-width: 991px) {
        am-hotel-frame .whiteframe .price-column .price-note {
          margin-top: 5px; } }
    am-hotel-frame .whiteframe .price-column .price {
      color: #DF6800;
      font-size: 18px;
      margin: 8px;
      height: 27px;
      text-align: center; }
      am-hotel-frame .whiteframe .price-column .price .number {
        vertical-align: top; }
      am-hotel-frame .whiteframe .price-column .price .number {
        font-size: 30px;
        line-height: 21px;
        font-weight: bold; }
    am-hotel-frame .whiteframe .price-column .show-hotel button {
      color: white;
      background-color: #002C77;
      font-weight: bold;
      margin: 6px;
      border: none;
      border-radius: 4px;
      padding: 8px 55px 8px 55px;
      font-size: 18px; }
      am-hotel-frame .whiteframe .price-column .show-hotel button:hover {
        background-color: #2755a5; }
    am-hotel-frame .whiteframe .price-column .pay-option {
      font-weight: bold; }

am-pagination .pagination-container {
  text-align: center; }
  am-pagination .pagination-container button {
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 1px 1px 3px 0px #bababa;
    -moz-box-shadow: 1px 1px 3px 0px #bababa;
    box-shadow: 1px 1px 3px 0px #bababa; }
    am-pagination .pagination-container button.current-button {
      color: #2566d6;
      font-weight: bold;
      background-color: #ececec; }
    am-pagination .pagination-container button:focus {
      outline: 0 !important; }
    am-pagination .pagination-container button:hover:not(:disabled) {
      background-color: #f4f4f4; }
    am-pagination .pagination-container button:disabled {
      color: #dcdcdc; }

am-stars-filter input {
  margin-right: 5px; }

am-stars-filter .all-stars-row {
  height: 30px;
  font-weight: bold; }

am-stars-filter .star-row {
  height: 30px; }
  am-stars-filter .star-row i {
    color: #FDBA12;
    margin-right: 5px; }

slick {
  width: 240px !important;
  height: 160px !important;
  margin: 0px !important;
  padding: 0px !important; }
  slick .slick-slide img {
    display: block;
    width: 240px; }
  slick .slick-prev {
    left: 10px !important; }
  slick .slick-next {
    right: 10px !important; }

.angular-range-slider div.handle {
  width: 13px !important;
  height: 30px !important;
  top: -10px !important;
  background-color: #ffffff !important;
  border: 1px solid #000 !important;
  border-radius: 35% !important; }

.angular-range-slider div.bar .selection {
  background: #989898 !important; }
