<div class="container">
	
	<div class="option-menu hidden-md hidden-lg">
		<span>Modificar búsqueda</span>
		<i class="fa fa-caret-down"></i>
	</div>
	<div class="option-menu container hidden-md hidden-lg">
		<span>Ver Hoteles en el mapa</span>
	</div>
	<div class="option-menu container hidden-md hidden-lg">
		<span>Filtrar</span>
		<i class="fa fa-caret-up"></i>
	</div>
			
	<div class="hidden-sm hidden-xs">
		<div class="breadcrumb"><a>Home</a> / <a>Hoteles</a> / madrid</div>
		<div class="info-search">
			<div>Hoteles Disponibles para:</div>
			<ul>
				<li><i class="fa fa-map-marker"></i> madrid</li>
				<li><i class="fa fa-calendar"></i> 16/11/2016</li>
				<li><i class="fa fa-calendar"></i> 30/11/2016</li>
				<li><i class="fa fa-user"></i> 2 huéspedes</li>
				<li><a>Modificar búsqueda</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 left-panel">

			
			<div class="whiteframe map-location hidden-sm hidden-xs">
				<img src="public/images/result-map.png" style="width: 100%"></img>
				<div>Ver Hoteles en el mapa</div>
			</div>
			
			<h4 class="hidden-sm hidden-xs">Filtrar</h4>


			<am-collapsible title="Nombre del Hotel" icon="search">
				<input type="text" ng-model="name" class="search-input" />
				<button ng-click="hoteles.filter.name = name" class="btn-primary">Aceptar</button>
			</am-collapsible>


			<am-collapsible title="Precio por noche" icon="usd">
				<div range-slider floor="{{hoteles.rangePrice.min}}" ceiling="{{hoteles.rangePrice.max}}" ng-model-low="hoteles.filter.priceFrom" ng-model-high="hoteles.filter.priceTo"></div>

				<div class="price-info-slider">
					<div>{{hoteles.filter.priceFrom | currency : "$" : 0}}</div>
					<div>{{hoteles.filter.priceTo | currency : "$" : 0}}</div>
				</div>
			</am-collapsible>

			<am-collapsible title="Estrellas" icon="star">
				<am-stars-filter stars="hoteles.filter.stars" stars-count="hoteles.starsCount"></am-stars-filter>
			</am-collapsible>


		</div>

		<div class="col-md-9 right-panel">

			<div class="sort-container">
				<span>Ordenar </span>
				<select ng-model="hoteles.sort" ng-options="o.name for o in hoteles.sortOptions"></select>
			</div>

			<div ng-repeat="hotel in hoteles.filteredHotels = ( hoteles.hotels | hotelesFilter: hoteles.filter ) | 
		  					orderBy : hoteles.sort.field : hoteles.sort.order | 
		  					limitTo: hoteles.page.size : hoteles.page.current * hoteles.page.size">

				<am-hotel-frame hotel="hotel"></am-hotel-frame>
			</div>

			<div ng-show="hoteles.filteredHotels.length==0" class="no-results">No existen resultados para mostrar</div>

			<am-pagination total-items="hoteles.filteredHotels.length" page-size="hoteles.page.size" current-page="hoteles.page.current" ng-show="hoteles.filteredHotels.length > hoteles.page.size"/>

		</div>

	</div>
</div>
