<div class="main-menu">
	<div class="container">
		<img src="public/images/logo-almundo.svg"></img>
		<ul class="separator hidden-sm hidden-xs">
			<li><i class="fa fa-user"></i> Ingresar</li>
			<li><span style="color: orange;">club</span>almundo</li>
			<li>sucursales</li>
			<li>Llamanos <i class="fa fa-angle-down"></i></li>
			<li>Ayuda</li>
		</ul>
		<ul class="hidden-md hidden-lg">
			<li><i class="fa fa-user"></i></li>
			<li><i class="fa fa-phone"></i></li>
			<li><i class="fa fa-bars"></i></li>
		</ul>
	</div>
</div>

<div class="sub-menu hidden-sm hidden-xs">
	<ul>
		<li><a href="#!/hoteles">Hoteles</a></li>
		<li><a href="#!/vuelos">Vuelos</a></li>
		<li><a href="#!/vuelos-hotel">Vuelo + Hotel</a></li>
		<li>Paquetes</li>
		<li>Disney</li>
		<li>Escapadas</li>
		<li>Seguros</li>
		<li>Autos</li>
		<li>Cruceros</li>
		<li>OFERTAS</li>
		<li>Más <i class="fa fa-angle-down"></i></li>
	</ul>
</div>