<div class="whiteframe" ng-init="showContent=true">
    <div class="header" ng-click="showContent=!showContent">
        <span><i class="fa fa-{{icon}}"></i> <b>{{title}}</b></span>
        <div class="collapsible-button" >
            <i class="fa fa-caret-down" ng-show="!showContent"></i>
            <i class="fa fa-caret-up" ng-show="showContent"></i>
        </div>
    </div>
    <div class="content" ng-show="showContent">
        <ng-transclude></ng-transclude>
    </div>
</div>