<div class="whiteframe">
    <div class="row">
        <div class="col-md-4 slider-column">
            <div class="slick-container">
                <div class="hotel-recommended" ng-if="hotel.relevant <= 2">¡Hotel recomendado!</div>
                <div class="hotel-disccount" ng-if="hotel.disccount">{{hotel.disccount}}% Off</div>
                <div class="slick-frame-container">
                    <slick lazy-load="true" slides-to-show="1" slides-to-scroll="1">
                        <div ng-repeat="imgId in hotel.images">
                            <img ng-src="public/images/hotels/{{imgId}}.jpg" style="width: 240px; height: 160px"></img>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
        <div class="col-md-4 info-column">
            <div class="vertical-separator hidden-md hidden-lg"></div>
            <div class="title">{{hotel.name}}</div>
            <div class="stars"><i class="fa fa-star" ng-repeat="a in getTimes(hotel.stars) track by $index"></i></div>
            <div class="only-bed"><i class="fa fa-bed"></i> Solo la habitación</div>
            <div class="services"><i ng-repeat="service in hotel.services" class="fa fa-{{service.icon}}" title="{{service.title}}"></i></div>
            <div class="vertical-separator hidden-md hidden-lg"></div>
        </div>
        <div class="col-md-4 price-column">
            <div class="price-note">Precio por noche por habitación</div>
            <div class="price">
                <span class="money">ARS</span><span class="number">{{hotel.price | currency : "" : 0}}</span>
            </div>
            <div class="price-note">impuestos y tasas no incluidos</div>
            <div class="show-hotel"><button class="btn-primary">Ver hotel</button></div>
            <div class="pay-option">Pagá en cuotas</div>
        </div>
    </div>
</div>
