<div class="pagination-container">
    <div>
        <button ng-click="changePage(0)" ng-disabled="currentPage == 0"><i class="fa fa-angle-double-left"></i></button>
        <button ng-click="changePage(currentPage - 1)" ng-disabled="currentPage == 0"><i class="fa fa-angle-left"></i></button>
        <button ng-repeat="bttn in buttons" ng-click="changePage(bttn)" ng-class="{'current-button': bttn==currentPage}">{{bttn + 1}}</button>
        <button ng-click="changePage(currentPage + 1)" ng-disabled="currentPage == getLastPage()"><i class="fa fa-angle-right"></i></button>
        <button ng-click="changePage(getLastPage())" ng-disabled="currentPage == getLastPage()"><i class="fa fa-angle-double-right"></i></button>
        <div class="pagination-info">
            <span>{{min((currentPage * pageSize) + 1, totalItems)}} - {{min((currentPage * pageSize) + pageSize, totalItems)}} de {{totalItems}}</span>
        </div>
    </div>
</div>
