<div>
    <div class="all-stars-row">
        <input type="checkbox" ng-model="allStars" ng-click="setNoFilter()" ng-checked="noFilter()" />
        <span>Todas las estrellas</span> ({{starsCount['5'] + starsCount['4'] + starsCount['3'] + starsCount['2'] + starsCount['1']}})
    </div>
    <div class="star-row">
        <input type="checkbox" ng-click="toggle(5)" ng-checked="exists(5)" />
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        ({{starsCount['5']}})
    </div>
    <div class="star-row">
        <input type="checkbox" ng-click="toggle(4)" ng-checked="exists(4)" />
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        ({{starsCount['4']}})
    </div>
    <div class="star-row">
        <input type="checkbox" ng-click="toggle(3)" ng-checked="exists(3)" />
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        ({{starsCount['3']}})
    </div>
    <div class="star-row">
        <input type="checkbox" ng-click="toggle(2)" ng-checked="exists(2)" />
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        ({{starsCount['2']}})
    </div>
    <div class="star-row">
        <input type="checkbox" ng-click="toggle(1)" ng-checked="exists(1)" />
        <i class="fa fa-star"></i>
        ({{starsCount['1']}})
    </div>
</div>